<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
   <link rel="stylesheet" href="/css/liststyle.css" />

   <title>Home page - search listings</title>
</head>

<body>

  <!-- navbar -->
  <%- include partials/navbar.ejs %>
  <br>

  <%- messages('message', locals) %>

  <!-- title section -->
  <div class="row">
    <div class="col-sm-12">
      <br>
      <br>
      <h1 class="OASIStitle">Welcome to OASIS,</h1>
      <h1 class="OASIStitle">A place for SFSU students looking for affordable housing.</h1>
      <br>
      <br>
    </div>
  </div>

  <!-- there are currently... -->
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="container" style="background-color:#d9c153">
        <p class="OASIStitle">
          There are currently <strong><%= countAllListings %></strong> properties available.
        </p><br>
        <br>

        <!-- Begin Form #00 -->
        <form action="/lists" method="POST">
           <div class="form-row justify-content-center">
              <div class="col-12">
                 <!-- Group related data in a form -->
                 <fieldset>
                    <select name="type">
                       <option value="" <%= all %>>All</option>
                       <option value="room" <%= room %>>Room</option>
                       <option value="house" <%= house %>>House</option>
                       <option value="apartment" <%= apartment %>>Apartment</option>
                    </select>
                    <input class="searchInput" type="text" name="search" value="<%= search %>"/>
                    <input type="submit" class="btn btn-primary" style="background-color:#5F3F91; border-color: #5F3F91;" value="Search" />
                 </fieldset>
              </div>
           </div>
        </form>
        <form action="/filter" method="POST">
          <h7><i>miles from campus</i></h7>
          <div class="input-group">
            <select class="custom-select" name="distance" id="inputGroupSelect04">
              <option value="" <%= none %>>Choose...</option>
              <option value="1" <%= first %>> < 1 mile</option>
              <option value="5" <%= second %>> < 5 miles </option>
              <option value="50" <%= third %>> > 5 miles</option>
            </select>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary" style="background-color:#5F3F91; border-color: #5F3F91;">filter</button>
            </div>
          </div>
        </form>
        <!--End Form #00-->
        <br><br>


      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br>
  <br>

      <!-- Begin Recent Listings Card-->
    <% if ( recentListings > 0) { %>
    <h1 class="OASIStitle">Recent Listings:</h1>
    <hr />
    <p class="OASIStitle">
     Check out a few of our most recent listings.
   </p>
   <% } %>

   <% if ( recentListings > 0) { %>
   <div class="row">
    <% for (var i=0; i < 9; i++) { %>
    <div class="col-sm-4" id="searchCard">
      <div  class="card" style="width: 18rem; background-color:#f2edf0">
       <img src="<%= listImg[i] %>" class="card-img-top" height="160" alt="house" class="img-thumbnail" />
       <!-- <img src="<%= listImg[i] %>" width="100" height="100" class="card-img-top" alt="a house"> -->
       <div class="card-body">
        <h5 class="card-title"><%= title[i] %> $<%= price[i] %> </h5>
        <h6 class="card-title"> <br> <%= distance[i] %> miles from SFSU</h6>
        <p>
         <%= room[i] %> bed <%= bathroom[i] %> bath <%= size[i] %> sq. ft
       </p>
       <a href="/details/<%= id[i] %>" class="btn btn-primary btn-sm" tabindex="-1" role="button"
         aria-disabled="true">More details...</a>
       </div>
     </div>
   </div>
   <br>

   <% } %>
  </div>
  <% } %>
  <!-- End Most Recent Card -->


  <!-- Begin Result Card-->
  <% if ( resultCount > 0) { %>
  <h1 class="OASIStitle">Results:</h1>
  <hr />
  <p class="OASIStitle">
   Found <%= resultCount %> properties that match your search critera.
 </p>
 <% } %>

 <div class="row">
  <% for (var i=0; i < resultCount; i++) { %>
  <div class="col-sm-4" id="searchCard">
    <div  class="card" style="width: 18rem; background-color:#f2edf0">
     <img src="<%= listImg[i] %>" class="card-img-top" height="160" alt="house" class="img-thumbnail" />
     <!-- <img src="<%= listImg[i] %>" width="100" height="100" class="card-img-top" alt="a house"> -->
     <div class="card-body">
      <h5 class="card-title"><%= title[i] %> $<%= price[i] %> </h5>
      <h6 class="card-title"> <br> <%= distance[i] %> miles from SFSU</h6>
      <p>
       <%= room[i] %> bed <%= bathroom[i] %> bath <%= size[i] %> sq. ft
     </p>
     <a href="/details/<%= id[i] %>" class="btn btn-primary btn-sm" tabindex="-1" role="button"
       aria-disabled="true">More details...</a>
     </div>
   </div>
 </div>
 <br>

 <% } %>
</div>
  <!-- End Result Card -->

<br>
<br>

  <%- include partials/footer.ejs %>






   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
   </script>
</body>

</html>